In [16]:
#1. Import all required python libraries

#import numpy as np
import pandas as pd
import matplotlib 
from matplotlib import pyplot as plt
#matplotlib.style.use('ggplot')
import seaborn as sns

In [3]:
#3. Loading data into dataframe
import io
df = pd.read_csv('C:/Users/coeco/OneDrive/Desktop/iris.csv')
# Dataset is now stored in a pandas Dataframe

In [4]:
#classes = df['Species'].unique().tolist()
#classe

In [5]:
#4.1 Information of the data present in dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
#4.2 Getting the dimension/shape of the data
# Expect it to be 150 rows and 5 column

print(df.shape)

(150, 5)

In [7]:
print(df.head(10))

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [8]:
#4.3 Describing the data present in dataset
#Use the describe function tom describe some of the 
#statistical properties of the data
print(df.describe())

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
#4.4 check the data types in the dataframe
df.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

In [10]:
df["variety"].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [11]:
#4.5 Use the groupby method to determine the class distrubution 
print(df.groupby('variety').size())

variety
Setosa        50
Versicolor    50
Virginica     50
dtype: int64

In [12]:
#4.6 Data points count value for each class labels
df.variety.value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: variety, dtype: int64

In [13]:
#4.7 Checking for missing values
df.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [14]:
#5

In [15]:
#6. Turning categorical variables into quantatative variables
from sklearn import preprocessing
#Label_encoder object knows how to understand word labels
label_encoder = preprocessing.LabelEncoder()
#Encoder Labels in column 'Species'
df['variety'] = label_encoder.fit_transform(df['variety'])
df['variety'].unique()

array([0, 1, 2])